<h1> You are a <%= @spirit_animal[:animal] %> !!!! </h1>
<h2> Your spirit animal says that you...</h2>
<p> <%= @spirit_animal[:description] %> </p>
<img src="<%=@spirit_animal[:img_url]%>"/>
          